:root {
    --primary-color: #1a202c;
    --secondary-color: #2d3748;
    --bg-color: #e2e8f0;
    --card-bg-color: #ffffff;
    --hover-bg-color: #edf2f7;
    --accent-color: #4299e1;
}

body {
    background-color: var(--bg-color);
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
    overflow: hidden;
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.card .card-header {
    background-color: var(--primary-color);
    color: white;
}

.problems-header {
    background-color: var(--secondary-color);
    color: white;
    padding: 2rem 1.5rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.filter-section {
    background-color: var(--card-bg-color);
    padding: 1.5rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.filter-section .search-form {
    margin-top: 0;
}

.problem-list .list-group-item {
    background-color: var(--card-bg-color);
    transition: background-color 0.3s, box-shadow 0.3s;
    border: none;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.problem-list .list-group-item:hover {
    background-color: var(--hover-bg-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.difficulty-badge {
    font-size: 0.8rem;
    width: 90px;
    text-align: center;
    text-transform: uppercase;
}

.difficulty-badge.Easy {
    background-color: var(--accent-color);
    padding: 0.4rem 0;
}

.difficulty-badge.Medium {
    background-color: #ffc107;
    padding: 0.4rem 0;
}

.difficulty-badge.Hard {
    background-color: #dc3545;
    padding: 0.4rem 0;
}

.difficulty-badge.Advanced {
    background-color: rgb(156, 39, 176);
    padding: 0.4rem 0;
}
